<div class="col-md-offset-2 mb-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="text-center">ユーザー編集</h2><br />
        <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :username, "ユーザーネーム" %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード  (変更しない場合は空白にしてください)" %>
            <%= f.password_field :password, autofocus: "off", class: "form-control" %>
            

          <div class="form-group">
            <%= f.label :password_confirmation, "パスワードの確認" %>
            <%= f.password_field :password_confirmation, autofocus: "off", class: "form-control" %>
          </div>

          <%= f.submit "変更する", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>