<div class="main-container">
<div class="container text-center">
  <button type="button" class="btn-lg btn-primary mt-5" data-toggle="modal" data-target="#post">つぶやきを投稿する</button>
  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="card-header">
          投稿画面
        </div>
        <%= form_with model: @post do |f| %>
          <div class="modal-body">
          <%= f.text_field :caption, class: "form-control", placeholder: "投稿内容を入力" %>
          <%= f.text_field :link, class: "form-control", placeholder: "詳細URL（ ない場合は空白にしてください ）" %>
          <%= f.fields_for :photos do |i| %><br />
          <%= i.file_field :image %>
          </div>
        <% end %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>